<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div>
        {% if err_msg %}
            {{ err_msg }}
        {% endif %}
    </div>
    <div>
        <form action="" method="post">
            <input type="text" name="username" value="{{ request.form.username }}">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>